h1, h2, p {
    color:seashell;
}

h1 {
    text-shadow: 2px 2px #ff0000;
}

#main-title {
    margin-left: 20%;
    margin-bottom:0;
    padding-top: 30px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

#dimScreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
}

.card-image {
    width: 80px;
    height: 115.5px;
    margin: 5px;
    box-shadow: 10px 10px 60px #555;
}

body {
    background-image: url('./images/page/background.jpg');
    background-size: cover;
}

#game-container {
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgba(0,0,0,0.5);
    /* border: solid rgba(0,0,0,0.5) 3px; */
    border-radius: 8px;
    width: 600px;
    padding: 20px;
    box-shadow: 10px 10px 60px #555;
}

#logo-container {
    background-image: url('./images/page/logo_blackjack.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

#player-container, #dealer-container {
    min-height:115.5px;
}

#control-container {
    padding: 10px 50px 0 10px;
    display:flex;
    align-items: center;
    justify-content:flex-start;
}

#control-container > button {
    margin-left: 5px;
}

#inAmount, #pAllAmount {
    display: inline;
    width: 100px;
    height: 98%;
    background-color: rgba(129, 129, 129, 0.5);
    /* border-color: lightgray solid 4px; */
    color:lightgray;
    text-align: right; 
}

#pAllAmount {
    display: block;
    margin: 0;
    height: 34px;
}

.currencyinput {
    position: relative;
    color:lightgray;
    margin-left: 15px;
    font-size: 22px;
}
.currencyinput input {
    padding-left: 18px;
}

.currencyinput p {
    padding-left:18px;
}

.currencyinput:before {
    position: absolute;
    top: 0;
    content:"$";
    left: 5px;
}

#btnStart {
    margin-right: 40px;
}